:root {
  --main-color100: #db524d;
  --color50: #df645f;
  --color200: #c94b46;
  --color300: #be5551;
  --light-txt: #f1b9b7;
  --txt-color: #541c1f;
  --grey: rgb(194, 194, 194);
}

* {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: var(--main-color100);
  height: 93vh;
  margin-bottom: 6vh;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 32%;
  margin-right: 32%;
  margin-bottom: 2%;
  border-bottom: 1px solid var(--color300);
  padding: 1rem;
}

header p:first-of-type {
  cursor: pointer;
}

header ul {
  list-style: none;
  display: flex;
  gap: 0.7rem;
}

header ul li {
  cursor: pointer;
  background-color: var(--color50);
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-size: 0.8rem;
}

header ul li:hover {
  background-color: var(--color300);
  box-shadow: 1px 1px 1px 0px var(--color200);
}

section {
  margin-left: 37%;
  margin-right: 37%;
}

#light-square {
  background-color: var(--color50);
  border-radius: 0.6rem;
  margin-top: 5%;
  padding-bottom: 1rem;
}

#light-square ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding-top: 1rem;
  justify-content: center;
  padding-left: 0;
}

#light-square ul li:first-child {
  background-color: var(--color300);
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 0.2rem;
}

#light-square ul li {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  cursor: pointer;
  align-self: center;
  font-size: 0.8rem;
}

#light-square ul li:hover {
  background-color: var(--color300);
  box-shadow: 1px 1px 1px 0px var(--color200);
  border-radius: 0.2rem;
}

#light-square p {
  font-size: 6rem;
  text-align: center;
}

button {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0.7rem 3rem 0.7rem 3rem;
  background-color: white;
  border: none;
  outline: none;
  border-bottom: 3px solid var(--grey);
  color: var(--main-color100);
  border-radius: 0.3rem;
  text-justify: center;
  font-size: 1.1rem;
}

button:hover {
  box-shadow: 1px 1px 1px 0px var(--color200);
  color: var(--color300);
}

button:active {
  border-bottom: 3px solid grey;
  transform: translateY(4px);
}

#work {
  color: var(--light-txt);
  font-size: 0.8rem;
  margin-top: 1rem;
  text-align: center;
}

#work + p {
  color: white;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#tasks {
  display: flex;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--light-txt);
  justify-content: space-between;
}

#tasks p {
  align-self: baseline;
}

#tasks i {
  cursor: pointer;
  background-color: var(--color50);
  border-radius: 0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

#tasks i:hover {
  background-color: var(--color300);
}

#milk-cat {
  display: grid;
  grid-template-columns: 80% 1fr 1fr;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  background-color: white;
  border-radius: 0.2rem;
  border-left: 4px solid black;
  color: var(--grey);
  padding: 0.8rem;
}

#milk-cat:hover {
  box-shadow: 2px 2px 2px 0px var(--color300);
  transform: scale(1.004);
}

#milk-cat p:first-of-type {
  color: black;
  font-size: 0.8rem;
  align-self: center;
}

#milk-cat i:first-of-type {
  cursor: pointer;
  color: var(--grey);
  font-size: 1rem;
  align-self: center;
  margin-right: 0.2rem;
}

#milk-cat i:first-of-type:hover {
  color: var(--color50);
}

#milk-cat i:first-of-type:active {
  color: var(--main-color100);
}

.numbers {
  font-size: 0.8rem;
}

.numbers span {
  font-size: 1rem;
}

.elipsis {
  cursor: pointer;
  justify-self: end;
  align-self: center;
  border: 0.6px solid;
  padding: 0.07rem 0.4rem 0.07rem 0.4rem;
  border-radius: 3px;
}

.elipsis:hover {
  background-color: var(--grey);
  color: white;
}

#code-this {
  display: grid;
  grid-template-columns: 80% 1fr 1fr;
  margin-bottom: 0.3rem;
  background-color: white;
  border-radius: 0.2rem;
  color: var(--grey);
  padding: 0.8rem;
  box-shadow: 0 1px 0.9px 0.5px var(--color300);
}

#code-this:hover {
  box-shadow: 2px 2px 2px 0px var(--color300);
  transform: scale(1.004);
}

#code-this p:first-of-type {
  text-decoration: line-through;
  font-size: 0.8rem;
  align-self: center;
}

#code-this i:first-of-type {
  color: var(--main-color100);
  font-size: 1rem;
  align-self: center;
  margin-right: 0.3rem;
  margin-left: 0.2rem;
  text-decoration: none;
}

#add-task {
  cursor: pointer;
  background-color: var(--color300);
  padding: 0.8rem;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  text-align: center;
  color: var(--light-txt);
  border: 1px dashed var(--light-txt);
  font-size: 0.8rem;
}

#add-task:hover {
  color: white;
  border: 1px solid var(--light-txt);
  box-shadow: 1px 1px 1px 0px var(--color200);
}

#add-task:active {
  box-shadow: 1px 1px 1px 0px var(--color300);
  transform: translateY(2px);
}

#est {
  background-color: var(--color50);
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  color: var(--light-txt);
  font-size: 0.8rem;
  border-top: 1px solid var(--light-txt);
}

#est span {
  color: white;
  font-size: 1rem;
}

article {
  margin-left: 30%;
  margin-right: 30%;
  color: var(--txt-color);
  margin-top: 2.5rem;
}

article h1 {
  line-height: 2.8rem;
  font-size: 2rem;
}

article h2 {
  margin-bottom: 2rem;
  margin-top: 3rem;
}

article h2:first-letter {
  border-bottom: 2.5px solid var(--main-color100);
  padding-bottom: 0.8rem;
}

.highlight {
  color: var(--main-color100);
}

article p {
  line-height: 1.8rem;
}

article ol li,
article ul li {
  margin: 1rem;
}

article ul {
  margin-bottom: 3rem;
}

article ul li {
  color: var(--main-color100);
}

article ul li span {
  color: var(--txt-color);
  margin-left: 0.5rem;
}

footer {
  border-top: 1px solid var(--grey);
}

footer ul li {
  list-style: none;
  cursor: pointer;
}

footer ul:first-of-type {
  color: var(--txt-color);
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  padding-left: 0;
}

footer ul:last-of-type {
  color: var(--grey);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  font-size: 2.5rem;
  padding-left: 0;
}

footer ul li:hover {
  color: var(--main-color100);
}

footer p {
  text-align: center;
  color: var(--txt-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer span {
  cursor: pointer;
  color: var(--main-color100);
}

footer p:last-of-type {
  font-size: 0.8rem;
}

@media only screen and (max-width: 900px) {
  header {
    margin-left: 5%;
    margin-right: 5%;
  }
  section {
    margin-right: 10%;
    margin-left: 10%;
  }
  article {
    margin-right: 5%;
    margin-left: 5%;
  }
}
